In [1]:
#!/usr/bin/python
# -*- coding: utf-8 -*-
import numpy as np
import pandas as pd

tOrder = pd.read_csv(r'../DATA/t_order.csv',low_memory=False)
tOrder = tOrder[tOrder.sale_amt >= 0]
#print(tOrder.head(10))
tOrder['datetime'] = pd.to_datetime(tOrder['ord_dt'])
saleSumOnlyDateAndAmt = tOrder[['shop_id','datetime','sale_amt']]
print(saleSumOnlyDateAndAmt.head(10))

   shop_id   datetime  sale_amt
0     1630 2016-09-04     19.82
1     1630 2017-01-02     19.82
2     1630 2016-09-23     19.82
3     1630 2016-12-29     19.82
4     1630 2016-08-26     19.82
5     1630 2016-11-22     19.82
6     1630 2016-10-17     19.82
7     1630 2017-02-23     19.82
8     1999 2016-11-20    138.76
9     1411 2016-09-19    491.44

In [2]:
groupSaleByShop = saleSumOnlyDateAndAmt.groupby('shop_id').resample('1W',on='datetime',label='left').sum()

del groupSaleByShop['shop_id']

groupSaleByShop = groupSaleByShop.reset_index()
print(groupSaleByShop.head(30))

    shop_id   datetime  sale_amt
0         1 2016-07-31   2921.39
1         1 2016-08-07   4462.63
2         1 2016-08-14   3525.99
3         1 2016-08-21   2398.56
4         1 2016-08-28   3008.93
5         1 2016-09-04   9025.17
6         1 2016-09-11  17445.77
7         1 2016-09-18  19615.28
8         1 2016-09-25  25691.32
9         1 2016-10-02  25657.46
10        1 2016-10-09  29514.81
11        1 2016-10-16  35402.88
12        1 2016-10-23  33415.62
13        1 2016-10-30  30780.81
14        1 2016-11-06  52533.33
15        1 2016-11-13  29313.88
16        1 2016-11-20  37185.18
17        1 2016-11-27  34119.22
18        1 2016-12-04  30071.26
19        1 2016-12-11  39966.92
20        1 2016-12-18  29686.37
21        1 2016-12-25  29792.06
22        1 2017-01-01  35349.07
23        1 2017-01-08  37855.78
24        1 2017-01-15  23063.93
25        1 2017-01-22   3010.59
26        1 2017-01-29  12370.30
27        1 2017-02-05  16914.68
28        1 2017-02-12  24198.75
29        1 2017-02-19  21140.26

In [3]:
baiduIndex = pd.read_csv(r'../DATA/BaiDuIn.csv', low_memory=False)
baiduIndex['datetime'] = pd.to_datetime(baiduIndex['datetime'])
print(baiduIndex.head(10))

    datetime  iphone  computer  alldev
0 2016-05-29  151532    254279  405811
1 2016-06-05  155725    223624  379349
2 2016-06-12  192068    327895  519963
3 2016-06-19  163104    264454  427558
4 2016-06-26  136514    230388  366902
5 2016-07-03  136983    232059  369042
6 2016-07-10  137784    233595  371379
7 2016-07-17  141883    236019  377902
8 2016-07-24  145117    238615  383732
9 2016-07-31  141900    236865  378765

In [4]:
baiduIndex = baiduIndex[(baiduIndex['datetime']>='2016-08-07')&(baiduIndex['datetime']<='2017-04-16')]
print(baiduIndex)

     datetime  iphone  computer  alldev
10 2016-08-07  140994    236530  377524
11 2016-08-14  139847    237085  376932
12 2016-08-21  137562    232730  370292
13 2016-08-28  136249    237919  374168
14 2016-09-04  151523    260567  412090
15 2016-09-11  156142    209142  365284
16 2016-09-18  144647    251723  396370
17 2016-09-25  152643    226622  379265
18 2016-10-02  158812    167614  326426
19 2016-10-09  146441    235138  381579
20 2016-10-16  148919    231263  380182
21 2016-10-23  158575    234968  393543
22 2016-10-30  191329    294951  486280
23 2016-11-06  268775    383814  652589
24 2016-11-13  160581    226552  387133
25 2016-11-20  146278    211525  357803
26 2016-11-27  145344    195158  340502
27 2016-12-04  138567    208727  347294
28 2016-12-11  157118    233641  390759
29 2016-12-18  141726    204006  345732
30 2016-12-25  135740    196599  332339
31 2017-01-01  154074    205025  359099
32 2017-01-08  158752    224060  382812
33 2017-01-15  158315    212550  370865
34 2017-01-22  120934    120731  241665
35 2017-01-29  131836    107926  239762
36 2017-02-05  156791    217839  374630
37 2017-02-12  150012    313289  463301
38 2017-02-19  143804    222628  366432
39 2017-02-26  141484    222239  363723
40 2017-03-05  175903    211703  387606
41 2017-03-12  174970    217588  392558
42 2017-03-19  164500    220521  385021
43 2017-03-26  150416    198559  348975
44 2017-04-02  157360    165254  322614
45 2017-04-09  151615    206725  358340
46 2017-04-16  150604    205493  356097

In [5]:
from sklearn.ensemble import GradientBoostingRegressor
module = GradientBoostingRegressor(n_estimators=200, learning_rate=0.1, max_depth=6)
module.fit(train_feature_data, label_data)

NameError: name 'train_feature_data' is not defined

In [6]:
baiduIndex = baiduIndex.drop(['alldev'], axis=1)
baiduIndex =baiduIndex.reset_index()
print(baiduIndex)

    index   datetime  iphone  computer
0      10 2016-08-07  140994    236530
1      11 2016-08-14  139847    237085
2      12 2016-08-21  137562    232730
3      13 2016-08-28  136249    237919
4      14 2016-09-04  151523    260567
5      15 2016-09-11  156142    209142
6      16 2016-09-18  144647    251723
7      17 2016-09-25  152643    226622
8      18 2016-10-02  158812    167614
9      19 2016-10-09  146441    235138
10     20 2016-10-16  148919    231263
11     21 2016-10-23  158575    234968
12     22 2016-10-30  191329    294951
13     23 2016-11-06  268775    383814
14     24 2016-11-13  160581    226552
15     25 2016-11-20  146278    211525
16     26 2016-11-27  145344    195158
17     27 2016-12-04  138567    208727
18     28 2016-12-11  157118    233641
19     29 2016-12-18  141726    204006
20     30 2016-12-25  135740    196599
21     31 2017-01-01  154074    205025
22     32 2017-01-08  158752    224060
23     33 2017-01-15  158315    212550
24     34 2017-01-22  120934    120731
25     35 2017-01-29  131836    107926
26     36 2017-02-05  156791    217839
27     37 2017-02-12  150012    313289
28     38 2017-02-19  143804    222628
29     39 2017-02-26  141484    222239
30     40 2017-03-05  175903    211703
31     41 2017-03-12  174970    217588
32     42 2017-03-19  164500    220521
33     43 2017-03-26  150416    198559
34     44 2017-04-02  157360    165254
35     45 2017-04-09  151615    206725
36     46 2017-04-16  150604    205493

In [7]:
groupSaleByShop = groupSaleByShop[(groupSaleByShop['datetime']>='2016-08-07')&(groupSaleByShop['datetime'] <= '2017-04-16')]
print(groupSaleByShop.head(50))

    shop_id   datetime  sale_amt
1         1 2016-08-07   4462.63
2         1 2016-08-14   3525.99
3         1 2016-08-21   2398.56
4         1 2016-08-28   3008.93
5         1 2016-09-04   9025.17
6         1 2016-09-11  17445.77
7         1 2016-09-18  19615.28
8         1 2016-09-25  25691.32
9         1 2016-10-02  25657.46
10        1 2016-10-09  29514.81
11        1 2016-10-16  35402.88
12        1 2016-10-23  33415.62
13        1 2016-10-30  30780.81
14        1 2016-11-06  52533.33
15        1 2016-11-13  29313.88
16        1 2016-11-20  37185.18
17        1 2016-11-27  34119.22
18        1 2016-12-04  30071.26
19        1 2016-12-11  39966.92
20        1 2016-12-18  29686.37
21        1 2016-12-25  29792.06
22        1 2017-01-01  35349.07
23        1 2017-01-08  37855.78
24        1 2017-01-15  23063.93
25        1 2017-01-22   3010.59
26        1 2017-01-29  12370.30
27        1 2017-02-05  16914.68
28        1 2017-02-12  24198.75
29        1 2017-02-19  21140.26
30        1 2017-02-26  22012.47
31        1 2017-03-05  19846.80
32        1 2017-03-12  17288.01
33        1 2017-03-19  16304.28
34        1 2017-03-26  18098.24
35        1 2017-04-02  17242.49
36        1 2017-04-09  16871.63
37        1 2017-04-16  14055.14
40        2 2016-08-07   3008.06
41        2 2016-08-14   3216.19
42        2 2016-08-21   3627.54
43        2 2016-08-28   5721.32
44        2 2016-09-04   7526.86
45        2 2016-09-11   7984.42
46        2 2016-09-18   9976.65
47        2 2016-09-25   9371.17
48        2 2016-10-02  13085.52
49        2 2016-10-09  20059.06
50        2 2016-10-16  21245.95
51        2 2016-10-23  18393.15
52        2 2016-10-30  18868.08

In [8]:
baiduIndex = baiduIndex.drop(['index'], axis=1)
print(baiduIndex)

     datetime  iphone  computer
0  2016-08-07  140994    236530
1  2016-08-14  139847    237085
2  2016-08-21  137562    232730
3  2016-08-28  136249    237919
4  2016-09-04  151523    260567
5  2016-09-11  156142    209142
6  2016-09-18  144647    251723
7  2016-09-25  152643    226622
8  2016-10-02  158812    167614
9  2016-10-09  146441    235138
10 2016-10-16  148919    231263
11 2016-10-23  158575    234968
12 2016-10-30  191329    294951
13 2016-11-06  268775    383814
14 2016-11-13  160581    226552
15 2016-11-20  146278    211525
16 2016-11-27  145344    195158
17 2016-12-04  138567    208727
18 2016-12-11  157118    233641
19 2016-12-18  141726    204006
20 2016-12-25  135740    196599
21 2017-01-01  154074    205025
22 2017-01-08  158752    224060
23 2017-01-15  158315    212550
24 2017-01-22  120934    120731
25 2017-01-29  131836    107926
26 2017-02-05  156791    217839
27 2017-02-12  150012    313289
28 2017-02-19  143804    222628
29 2017-02-26  141484    222239
30 2017-03-05  175903    211703
31 2017-03-12  174970    217588
32 2017-03-19  164500    220521
33 2017-03-26  150416    198559
34 2017-04-02  157360    165254
35 2017-04-09  151615    206725
36 2017-04-16  150604    205493

In [9]:
groupSaleByShop=groupSaleByShop.reset_index()

In [10]:
print(groupSaleByShop)

         index  shop_id   datetime  sale_amt
0            1        1 2016-08-07   4462.63
1            2        1 2016-08-14   3525.99
2            3        1 2016-08-21   2398.56
3            4        1 2016-08-28   3008.93
4            5        1 2016-09-04   9025.17
5            6        1 2016-09-11  17445.77
6            7        1 2016-09-18  19615.28
7            8        1 2016-09-25  25691.32
8            9        1 2016-10-02  25657.46
9           10        1 2016-10-09  29514.81
10          11        1 2016-10-16  35402.88
11          12        1 2016-10-23  33415.62
12          13        1 2016-10-30  30780.81
13          14        1 2016-11-06  52533.33
14          15        1 2016-11-13  29313.88
15          16        1 2016-11-20  37185.18
16          17        1 2016-11-27  34119.22
17          18        1 2016-12-04  30071.26
18          19        1 2016-12-11  39966.92
19          20        1 2016-12-18  29686.37
20          21        1 2016-12-25  29792.06
21          22        1 2017-01-01  35349.07
22          23        1 2017-01-08  37855.78
23          24        1 2017-01-15  23063.93
24          25        1 2017-01-22   3010.59
25          26        1 2017-01-29  12370.30
26          27        1 2017-02-05  16914.68
27          28        1 2017-02-12  24198.75
28          29        1 2017-02-19  21140.26
29          30        1 2017-02-26  22012.47
...        ...      ...        ...       ...
110926  116846     3000 2016-09-25  11850.74
110927  116847     3000 2016-10-02  14004.05
110928  116848     3000 2016-10-09  19488.32
110929  116849     3000 2016-10-16  12082.79
110930  116850     3000 2016-10-23  13120.30
110931  116851     3000 2016-10-30  12201.83
110932  116852     3000 2016-11-06  16733.04
110933  116853     3000 2016-11-13   8762.55
110934  116854     3000 2016-11-20  10889.31
110935  116855     3000 2016-11-27   9076.47
110936  116856     3000 2016-12-04  11762.48
110937  116857     3000 2016-12-11  12726.25
110938  116858     3000 2016-12-18   9392.75
110939  116859     3000 2016-12-25   9800.74
110940  116860     3000 2017-01-01  12192.72
110941  116861     3000 2017-01-08    140.42
110942  116862     3000 2017-01-15       NaN
110943  116863     3000 2017-01-22       NaN
110944  116864     3000 2017-01-29   1705.59
110945  116865     3000 2017-02-05  14271.58
110946  116866     3000 2017-02-12  13958.65
110947  116867     3000 2017-02-19  16776.71
110948  116868     3000 2017-02-26  13644.67
110949  116869     3000 2017-03-05  13709.09
110950  116870     3000 2017-03-12  13004.51
110951  116871     3000 2017-03-19  11179.98
110952  116872     3000 2017-03-26   8592.46
110953  116873     3000 2017-04-02  11930.01
110954  116874     3000 2017-04-09   7983.64
110955  116875     3000 2017-04-16   5405.80

[110956 rows x 4 columns]

In [11]:
groupSaleByShop = groupSaleByShop.drop(['index'], axis=1)

     datetime  iphone  computer
0  2016-08-07  140994    236530
1  2016-08-14  139847    237085
2  2016-08-21  137562    232730
3  2016-08-28  136249    237919
4  2016-09-04  151523    260567
5  2016-09-11  156142    209142
6  2016-09-18  144647    251723
7  2016-09-25  152643    226622
8  2016-10-02  158812    167614
9  2016-10-09  146441    235138
10 2016-10-16  148919    231263
11 2016-10-23  158575    234968
12 2016-10-30  191329    294951
13 2016-11-06  268775    383814
14 2016-11-13  160581    226552
15 2016-11-20  146278    211525
16 2016-11-27  145344    195158
17 2016-12-04  138567    208727
18 2016-12-11  157118    233641
19 2016-12-18  141726    204006
20 2016-12-25  135740    196599
21 2017-01-01  154074    205025
22 2017-01-08  158752    224060
23 2017-01-15  158315    212550
24 2017-01-22  120934    120731
25 2017-01-29  131836    107926
26 2017-02-05  156791    217839
27 2017-02-12  150012    313289
28 2017-02-19  143804    222628
29 2017-02-26  141484    222239
30 2017-03-05  175903    211703
31 2017-03-12  174970    217588
32 2017-03-19  164500    220521
33 2017-03-26  150416    198559
34 2017-04-02  157360    165254
35 2017-04-09  151615    206725
36 2017-04-16  150604    205493

In [12]:
train_data = groupSaleByShop.values
train_data

array([[1, Timestamp('2016-08-07 00:00:00'), 4462.63],
       [1, Timestamp('2016-08-14 00:00:00'), 3525.99],
       [1, Timestamp('2016-08-21 00:00:00'), 2398.5600000000004],
       ...,
       [3000, Timestamp('2017-04-02 00:00:00'), 11930.010000000007],
       [3000, Timestamp('2017-04-09 00:00:00'), 7983.640000000004],
       [3000, Timestamp('2017-04-16 00:00:00'), 5405.8]], dtype=object)