In [6]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                              'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                              'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
print(df)

     A      B         C         D
0  foo    one  2.199740  0.055807
1  bar    one -1.122716 -0.911426
2  foo    two  0.113263 -0.600850
3  bar  three  0.821240  0.551506
4  foo    two -0.924569  0.506274
5  bar    two -0.080144 -1.199330
6  foo    one -1.366682 -0.146483
7  foo  three -0.516515 -1.916519

In [16]:
grouped = df.groupby('A')
print(grouped)
grouped.sum()

<pandas.core.groupby.DataFrameGroupBy object at 0x0000000009A046D8>

            C        D
A
bar -0.381620 -1.55925
foo -0.494764 -2.10177

In [17]:
grouped = df.groupby(['A', 'B'])
print(grouped)
grouped.sum()

<pandas.core.groupby.DataFrameGroupBy object at 0x0000000009A04550>

                  C         D
A   B
bar one   -1.122716 -0.911426
    three  0.821240  0.551506
    two   -0.080144 -1.199330
foo one    0.833058 -0.090675
    three -0.516515 -1.916519
    two   -0.811307 -0.094576